body {
  font-family: 'Segoe UI', 'Meiryo', sans-serif;
  background: #f6f8fa;
  margin: 0;
  padding: 0;
}
.main {
  padding: 20px;
  text-align: center;
}
.story, .status, .credit ,.link {
  margin: 20px 0;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
h1 {
  color: #ff9600;
  margin-bottom: 10px;
}
.link-list{
  display: flex;
  flex-direction: column;
}
.link-list a{
  padding-top: 5px;
  padding-bottom: 5px;
}
.main a {
  color: #ff9600;
  text-decoration: none;
}
.main a:hover {
  text-decoration: underline;
}
span{
  display: block;
  position: absolute;
  visibility: hidden;
  margin-top: -100px;
  padding-top: 100px;
}